*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
    background: linear-gradient(45deg, #dcdcdc 0%, #000000 100%);
    color: #1a2c3e;
    line-height: 1.6;
    padding: 2rem 1rem;
}

.container {
    max-width: 900 px;
    margin: 0 auto;
}

header {
    text-align: center;
    background: rgba(190, 190, 190, 0.9);
    -webkit-background-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 40px;
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 20px 35px -10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(225,255, 255, 0,9);
}

header img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    transition: transform 0,3s ease;
}

header img:hover {
    transform: scale(1.1);
}